*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: black;
    color:blue;
    padding: 15px;
}
h1,ul,li{
    display: inline;
    color:blue;
}
ul{
    margin-left: 50%;
}
li{
    color: aliceblue;
    cursor: pointer;
}
li:hover{
    color: grey;
}
input{
    width: 50%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border-color:black;
    border-width:2px;
    border-style:solid;
    display:inline-block;
    width:220px;
}
.box:hover{
    background-color: gray;
    color: black;
}
.products{
    text-align: center;
}
.about{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.contact{
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: blue;
}